.kaitoubutton1_con,.kaitoubutton2_con,.kaitoubutton3_con,.kaitoubutton5_con {
  width: 600px;
  margin: auto;
  height: 100px;
  display: none;
  justify-content: space-between;
}

.kaitoubutton1_con > *,.kaitoubutton2_con > *,.kaitoubutton3_con > *,.kaitoubutton5_con > * {
  width: 100%;
  text-align: center;
  line-height: 100px;
  background: LightGray;
  border: solid;
  border-width: 0.1px;
  font-size: 36px;
  cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.kaitoubutton3_con img {
  width: 50%;
}

.kaitoubutton4_con {
  width: 600px;
  margin: auto;
  text-align: center;
  display: none;
}

.kaitoubutton4_lr {
  width: 100%;
  margin: auto;
  height: 50px;
}

#kaitoubutton4_left{
  float: left;
  margin-left: 20%;
}
#kaitoubutton4_right {
  float: right;
  margin-right: 20%;
}

#kaitoubutton4_up,#kaitoubutton4_down,#kaitoubutton4_left,#kaitoubutton4_right {
  width: 20%;
  line-height: 50px;
  background: LightGray;
  border: solid;
  border-width: 0.1px;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

#kaitoubutton4_up,#kaitoubutton4_down {
  float: none;
  margin: auto;
}

#myCanvas2con {
  display: none;
}

@media screen and (max-width:599px) {
  #myCanvas,#myCanvas2 {
    width: 100%;
  }

  .kaitoubutton1_con,.kaitoubutton2_con,.kaitoubutton3_con,.kaitoubutton4_con,.kaitoubutton5_con {
    width: 100%;
    height: 70px;
  }

  .kaitoubutton1_con>*,.kaitoubutton2_con>*,.kaitoubutton3_con>*,.kaitoubutton5_con>* {
    font-size: 20px;
    line-height: 70px;
  }

  #kaitoubutton4_up,#kaitoubutton4_down,#kaitoubutton4_left,#kaitoubutton4_right {
    font-size: 30px;
    line-height: 70px;
  }
  .kaitoubutton4_lr{
    height: 70px;
  }
}
